@font-face {
  src: url("../public/Satoshi/Graphik\ Family/Graphik-Light-Trial.otf");
  font-family: "Graphik";
  font-weight: 300;
}
@font-face {
  src: url("../public/Satoshi/Graphik\ Family/Graphik-Regular-Trial.otf");
  font-family: "Graphik";
  font-weight: 400;
}
@font-face {
  src: url("../public/Satoshi/Graphik\ Family/Graphik-Medium-Trial.otf");
  font-family: "Graphik";
  font-weight: 500;
}
@font-face {
  src: url("../public/Satoshi/Graphik\ Family/Graphik-Bold-Trial.otf");
  font-family: "Graphik";
  font-weight: 700;
}
@font-face {
  src: url("../public/Satoshi/Graphik\ Family/Graphik-Black-Trial.otf");
  font-family: "Graphik";
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* font-family: "Satoshi", sans-serif; */
  font-family: "Graphik", sans-serif;
}

p {
  font-family: "Nunito, sans-serif";
}

#__next img,
#__next video {
  max-width: none !important; /* Override max-width */
  height: auto !important; /* Override height */
}

.header-1_black {
  font-weight: 900;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_black {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_black {
  font-weight: 900;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_black {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_black {
  font-weight: 900;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_black {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_black {
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_black {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 28px;
}

.header-1_bold {
  font-weight: 700;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_bold {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_bold {
  font-weight: 700;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_bold {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_bold {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_bold {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_bold {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_medium {
  font-weight: 500;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_medium {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_medium {
  font-weight: 500;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_medium {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_medium {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_medium {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_medium {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_medium {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_regular {
  font-weight: 400;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_regular {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_regular {
  font-weight: 400;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_regular {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_regular {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_regular {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_regular {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
}
.header-1_light {
  font-weight: 300;
  font-size: 3rem;
  line-height: 59px;
}
.header-2_light {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 49px;
}
.header-3_light {
  font-weight: 300;
  font-size: 2rem;
  line-height: 42px;
}
.header-4_light {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 38px;
}
.label-1_light {
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 32px;
}
.label-2_light {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 30px;
}
.label-3_light {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 29px;
}
.label-4_light {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 28px;
}
.text-1_black {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_black {
  font-weight: 900;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_black {
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_black {
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_bold {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_bold {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_bold {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_medium {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_medium {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_medium {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_medium {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_regular {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_regular {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_regular {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_regular {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
}
.text-1_light {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 26px;
}
.text-2_light {
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
}
.text-3_light {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 23px;
}
.text-4_light {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 18px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mobile {
  display: none;
  margin: 0.5rem 1rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}
.navbar_outline {
  border: 2px solid #0b8657;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.main-container {
  margin: 0px 3rem 100px 3rem;
}
.testimony-abs {
  position: absolute;
  bottom: 0;
  right: -60%;
  margin-left: 15rem;
}
.help-container {
  text-align: center;
  margin: auto;
}
.partnership-container {
  font-family: "Poppins", sans-serif;
}

.subscribe-container {
  background-image: url("/asset/paymee-subscribe-bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.circ-bg-img {
  background-image: url("/asset/circ-img.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  text-align: center;
}
.about-container-bg {
  background-image: url("https://res.cloudinary.com/dstqfrcxx/image/upload/v1713356917/PayyMe/3d_render_pos_terminal_paper_check_bill_and_cards_or722l.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.faq-container-bg {
  background-image: url("https://res.cloudinary.com/dstqfrcxx/image/upload/v1713356883/PayyMe/View_of_3d_button_pjqlli.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.index-bg {
  background-image: url("/asset/payyme-bg-shape.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-bg_image {
  background-image: url("https://res.cloudinary.com/dstqfrcxx/image/upload/t_Banner 16:9/v1713783723/mapbase_eac3u5.png");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 455px;
}
.footer-container {
  background-color: #032015;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-container_inner {
  padding: 0rem 2rem 2rem 2rem;
}
.border-outline {
  padding: 1rem 0px 0px 2rem;
  border-top: 1px solid #fff;
}
.btn-primary_bg {
  background: #35b181 !important;
  color: #fefcfc;
  padding: 0.5rem 4rem;
  border-radius: 8px;
}

.swiper-pagination {
  margin-top: 2rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  column-gap: 8px;
  row-gap: 8px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  column-gap: 8px;
  row-gap: 8px;
}
.social-icon {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid;
}
.page-center {
  height: 100vh;
  align-items: center;
}

.grid-inner_blog {
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.pad-1 {
  padding: 0px 152px;
}
.margin-gen {
  margin-left: 100px;
  margin-right: 100px;
}
.sub-hero-pad {
  padding-left: 167px;
  padding-right: 167px;
}

@media (max-width: 1380px) {
  .margin-gen {
    margin-left: 80px;
    margin-right: 80px;
  }
  .sub-hero-pad {
    padding-left: 127px;
    padding-right: 127px;
  }
}

@media (max-width: 1180px) {
  .sub-hero-pad {
    padding-left: 87px;
    padding-right: 87px;
  }
  .sub-hero-pad {
    padding-left: 107px;
    padding-right: 107px;
  }
  .margin-gen {
    margin-left: 65px;
    margin-right: 65px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 3rem;
    border-radius: 8px;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }

  .main-container {
    margin: 1.5rem 2rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 39px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_bold {
    font-weight: 700;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 49px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
}
@media (max-width: 1000px) {
  .sub-hero-pad {
    padding-left: 67px;
    padding-right: 67px;
  }
  .margin-gen {
    margin-left: 50px;
    margin-right: 50px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 2rem;
    border-radius: 8px;
  }

  .main-container {
    margin: 1rem 1.5rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 26px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_bold {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.635rem;
    line-height: 32px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 2rem;
    line-height: 42px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 39px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
}

@media (max-width: 900px) {
  .sub-hero-pad {
    padding-left: 57px;
    padding-right: 57px;
  }
  .margin-gen {
    margin-left: 40px;
    margin-right: 40px;
  }
  .grid-inner_blog {
    grid-template-columns: 1fr;
  }
  .footer-flex_1 {
    flex: 1;
  }
  .footer-flex_2 {
    flex: 2;
  }
}

@media (max-width: 800px) {
  .sub-hero-pad {
    padding-left: 40px;
    padding-right: 40px;
  }
  .margin-gen {
    margin-left: 30px;
    margin-right: 30px;
  }
  .btn-primary_bg {
    background: #35b181 !important;
    color: #fefcfc;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .main-container {
    margin: 0.5rem 1rem;
  }
  .header-1_black {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_black {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_black {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_black {
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 25px;
  }

  .header-1_bold {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_bold {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 28px;
  }
  .header-3_bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_bold {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_medium {
    font-weight: 500;
    font-size: 1.635rem;
    line-height: 32px;
  }
  .header-3_medium {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_medium {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_regular {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;
  }
  .header-2_regular {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .header-4_regular {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 29px;
  }
  .label-1_regular {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .label-2_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .label-3_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-4_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .header-1_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 38px;
  }
  .header-2_light {
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 32px;
  }
  .header-3_light {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;
  }
  .header-4_light {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 28px;
  }
  .label-1_light {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 27px;
  }
  .label-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .label-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 25px;
  }
  .label-4_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }
  .text-1_black {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_black {
    font-weight: 900;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_black {
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_black {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_bold {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_bold {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_medium {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_regular {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .text-1_light {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 26px;
  }
  .text-2_light {
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
  }
  .text-3_light {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 23px;
  }
  .text-4_light {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
}

@media (max-width: 500px) {
  .sub-hero-pad {
    padding-left: 16px;
    padding-right: 16px;
  }
  .margin-gen {
    margin-left: 12px;
    margin-right: 12px;
  }
  .main-container {
    margin: 0.5rem 0.5rem;
  }
  .testimony-abs {
    position: absolute;
    bottom: 0;
    right: -150%;
    margin-left: 0rem;
  }
}

@media (max-width: 380px) {
  .main-container {
    margin: 0.25rem 0.25rem;
  }
}
